body {
  margin: 0;
  font-family: sans-serif;
  background: #222;
  color: #ddd;
  text-align: center;
}
a {
  text-decoration: none;
}
.App {
  width: 960px;
  margin: 0 auto;
}
h1 {
  color: #ffff57;
  font-size: 4em;
  letter-spacing: 2px;
}
button {
  margin: 0 10px;
  background: transparent;
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  color: #ccc;
  font-size: 1.2em;
  cursor: pointer;
}
button:hover {
  color: #fff;
  border-color: #fff;
}
.content {
  text-align: left;
}
.card {
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
  text-align: left;
}
.card p {
  margin: 6px 0;
  color: #999;
}
.card h3 {
  margin: 10px 0;
  color: #ffff57;
}
.list-item {
  cursor: pointer;
}
.empty {
  height: 100px;
}
button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

/* -------------- */

.schedule {
  display: flex;
  flex-direction: column;
  justify-content: column;
  margin: 20px;
  padding: 20px;
  border: 1px solid grey;
  height: 70vh;
  width: 15vw;
  min-width: 15vw;
}
